DOMAIN=adikabuyer.kg
CORS_ALLOWED_ORIGIN=https://adikabuyer.kg

POSTGRES_USER=adikabuyer
POSTGRES_PASSWORD=changeme
POSTGRES_DB=adikabuyer

RABBITMQ_USER=adikabuyer
RABBITMQ_PASSWORD=changeme

MINIO_ROOT_USER=adikabuyer
MINIO_ROOT_PASSWORD=changeme123
S3_BUCKET=adikabuyer-media
S3_PUBLIC_URL_BASE=https://adikabuyer.kg/media/adikabuyer-media

APP_JWT_SECRET=replace-with-a-random-256-bit-secret
APP_SECURITY_ADMIN_USERNAME=admin
APP_SECURITY_ADMIN_PASSWORD_HASH=replace-with-a-bcrypt-hash-escape-dollar-signs-as-dollar-dollar

APP_WHATSAPP_STORE_PHONE_NUMBER=996707660433

CATALOG_SERVICE_JAVA_OPTS=-Xmx256m -Xms128m
ORDER_SERVICE_JAVA_OPTS=-Xmx256m -Xms128m
GATEWAY_JAVA_OPTS=-Xmx256m -Xms128m
